<%= erb :header %>
<div class='controlsContainer'>
  <form id="new-funnel" action="new" method="post">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="Name your funnel" autocomplete="off">  
    </div>
    <div class="form-group">
      <input class="form-control" id="projects-input" list="projects" placeholder="Choose a project" name="project" autocomplete="off">  
    </div>
    <div class="form-group" id="event-form-group"></div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>
  </form>
  <!-- <a href="#" class="btn btn-add btn-tiny">Add an event</a> -->
  <button class="btn btn-add btn-tiny" onclick='addEvent()'> Another event </button>
  <button class="avant-garde-button-black" onclick="$('#new-funnel').submit()"> Submit </button>
</div>

<%= erb :footer %>

<script type="text/javascript">
  function addEvent(){
    console.log('adding event')

    var ix = $('form input.events-input').length;

    $(`<input type='text' value='' />`)
     .attr("id", `events-input-${ix}`)
     .attr("name", `events-input-${ix}`)
     .attr("list", "events")
     .attr("class", "events-input form-control")
     .attr("placeholder", "Add an event")
     .attr("autocomplete", "off")
     .appendTo("#event-form-group");

    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })
  autosuggest.updateDataOnChange('input#projects-input')

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
  
</script>