<%= erb :header %>
<div class='controlsContainer'>
  <form id="form" action="new" method="post">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="Name your funnel" autocomplete="off">
    </div>
    <div class="form-group">
      <input id="projects-input" class="form-control" list="projects" placeholder="Choose a project" name="project" autocomplete="off">
    </div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>
  </form>
  <button class="btn btn-add btn-tiny form-group" onclick='add_event()'>add event</button>
  <div class="form-group">
    <button class="avant-garde-button-black" onclick="$('#form').submit()"> Submit </button>
  </div>
</div>

<%= erb :footer %>

<script type="text/javascript">
  function add_event(){
    var ix = $('.events-input').length;
    sd.templates.event_input(ix).appendTo("#form")
    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
    $(`#events-input-${ix} close-thik`)
    $(`#form-group-events-${ix} > a`).click( (el) => el.currentTarget.parentElement.remove() )
  }
  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: []
  })

  autosuggest.updateDataOnChange('input#projects-input')

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
</script>