<%= erb :header %>

<form id="new-funnel" action="new" method="post">
  <div class="container">
    <input name="name" placeholder="Name your funnel" autocomplete="off">  
  </div>
  <div class="container">
    <input id="projects-input" list="projects" placeholder="Choose a project" name="project" autocomplete="off">  
  </div>
  <datalist id='projects'></datalist>
  <datalist id='events'></datalist>
</form>
<button onclick='addEvent()'> Another event </button>
<button onclick="$('#new-funnel').submit()"> Submit </button>

<%= erb :footer %>

<script type="text/javascript">
  function addEvent(){
    console.log('adding event')

    var ix = $('form input.events-input').length;
    el = $(`<div class="container"></div>`)
    $(`<input type='text' value='' />`)
     .attr("id", `events-input-${ix}`)
     .attr("name", `events-input-${ix}`)
     .attr("list", "events")
     .attr("class", "events-input")
     .attr("placeholder", "Add an event")
     .attr("autocomplete", "off")
     .appendTo(el);

    el.appendTo("#new-funnel");

    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })

  autosuggest.updateDataOnChange('input#projects-input')
</script>