<%= erb :header %>
<div class='controlsContainer'>
  <form id="new-funnel" action="new" method="post">
    <div class="form-group">
      <input id="projects-input" class="form-control" list="projects" placeholder="Choose a project" name="project" autocomplete="off"> 
    </div>
    <div class="form-group">
      <input type="text" name="events-input" list="events" id="events-input-0" class="events-input form-control" value="" placeholder="Event">
      <div class="secondary-btn-container">
        <button id="event-modal-btn-0" type="button" class="btn btn-secondary btn-tiny" onclick='open_modal(this)'>edit</button>
        <div id="event-modal-0" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form-group">
              <label>Split by a property</label>
              <input class="form-control" id="events-edit-input-split-by-property" placeholder="Split by a property">
            </div>
          </div>
        </div>
      </div>
    </div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>
  </form>
  <button class="btn btn-add btn-tiny form-group" onclick='addEvent()'>add event</button>
  <div class="spacious form-group">
    <label>DATE RANGE:</label>
    <select class="form-control" id="date-range">
      <option>Last 7 Days</option>
      <option>Last 30 Days</option>
      <option>Last 3 Months</option>
      <option>Last 12 Months</option>
      <option>Last 24 Months</option>
    </select>
  </div>
  <div class='spacious'>
    <button class="avant-garde-button-black" onclick="show_graph()">show graph</button>
  </div>
  <div class='loader hidden'></div>
</div>
<div id='canvasContainer'></div>

<%= erb :footer %>

<script type="text/javascript">
  function show_graph(){
    var project = $('#projects-input').val()
    var events = _.map($('.events-input'), (i) => i.value).join(',')
    var date_range = $("#date-range").val()
    sd.chartSegment(project, events, date_range)
  }

  function modal_template(ix) {
    $(`<div class="form-group">
        <input type="text" name="events-input" 
               list="events" id="events-input-${ix}" 
               class="events-input form-control" value="" placeholder="Event">
        <div class="secondary-btn-container">
          <button 
            id="event-modal-btn-${ix}" 
            type="button" class="btn btn-secondary btn-tiny" 
            onclick='open_modal(this)'>edit</button>
          <div id="event-modal-${ix}" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <div class="form-group">
                <label>Split by a property</label>
                <input class="form-control" id="events-edit-input-split-by-property" placeholder="Split by a property">
              </div>
            </div>
          </div>
        </div>
      </div>
      `)
  }

  function addEvent(){
    var ix = $('.events-input').length;
    var el = $(`<div class="form-group"></div>`)
    $(`<input type='text' value='' />`)
     .attr("id", `events-input-${ix}`)
     .attr("name", `events-input-${ix}`)
     .attr("list", "events")
     .attr("class", "events-input form-control")
     .attr("placeholder", "Event")
     .attr("autocomplete", "off")
     .appendTo(el);

    el.appendTo("#new-funnel")

    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })

  autosuggest.updateDataOnChange('input#projects-input')
  autosuggest.setKeyUpUpdating(`#events-input-0`)

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
  

  function open_modal(el){
    var modal = document.getElementById('event-modal-0');
    var btn = document.getElementById("event-modal-btn-0");
    var span = document.getElementsByClassName("close")[0];


    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
  }
</script>