<%= erb :header %>
<div class='controlsContainer'>
  <form id="new-funnel" action="new" method="post">
    <div class="form-group">
      <input id="projects-input" class="form-control" list="projects" placeholder="Choose a project" name="project" autocomplete="off"> 
    </div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>
  </form>
  <button class="btn btn-add btn-tiny form-group" onclick='add_event()'>add event</button>
  <div class="spacious form-group">
    <label>DATE RANGE:</label>
    <select class="form-control" id="date-range">
      <option>Last 7 Days</option>
      <option>Last 30 Days</option>
      <option>Last 3 Months</option>
      <option>Last 12 Months</option>
      <option>Last 24 Months</option>
    </select>
  </div>
  <div class='spacious'>
    <button class="avant-garde-button-black" onclick="show_graph()">show graph</button>
  </div>
  <div class='loader hidden'></div>
</div>
<div id='canvasContainer'></div>

<%= erb :footer %>

<script type="text/javascript">
  function show_graph(){
    var project = $('#projects-input').val()
    var events = _.map($('.events-input'), (i) => i.value).join(',')
    var date_range = $("#date-range").val()
    sd.chartSegment(project, events, date_range)
  }

  function event_input_template(ix) {
    return $(`
      <div class="form-group">
        <input type="text" name="events-input" 
               list="events" id="events-input-${ix}" 
               class="events-input form-control" value="" 
               placeholder="Event">
      </div>
      `)
  }

  function add_event(){
    var ix = $('.events-input').length;
    event_input_template(ix).appendTo("#new-funnel")
    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })

  // start with a single event
  add_event();

  autosuggest.updateDataOnChange('input#projects-input')
  autosuggest.setKeyUpUpdating(`#events-input-0`)

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
</script>