<%= erb :header %>
<h3>
  FUNNEL
</h1>
<div class='controlsContainer'>
  <form id="new-funnel" action="new" method="post">
    <div class="container">
      <input id="projects-input" list="projects" placeholder="Choose a project" name="project" autocomplete="off">  
      <input type="text" name="events-input" class="events-input" value="" placeholder="Add an event">
    </div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>
  </form>
  <button onclick='addEvent()'> Another event </button>
  <button onclick="go()"> Submit </button>
</div>

<%= erb :footer %>

<script type="text/javascript">
  function addEvent(){
    var ix = $('form input.events-input').length;
    el = $(`<div class="container"></div>`)
    $(`<input type='text' value='' />`)
     .attr("id", `events-input-${ix}`)
     .attr("name", `events-input-${ix}`)
     .attr("list", "events")
     .attr("class", "events-input")
     .attr("placeholder", "Add an event")
     .attr("autocomplete", "off")
     .appendTo(el);

    el.appendTo("#new-funnel");

    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })
  autosuggest.updateDataOnChange('input#projects-input')

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
  
</script>