<%= erb :header %>
<h3>
  SEGMENT
</h1>
<div class='controlsContainer'>
  <form id="new-funnel" action="new" method="post">
    <div class="container">
      <input id="projects-input" list="projects" placeholder="Choose a project" name="project" autocomplete="off">  
      <input type="text" name="events-input" list="events" id="events-input-0" class="events-input" value="" placeholder="Add an event">
      
    </div>
    <datalist id='projects'></datalist>
    <datalist id='events'></datalist>

  </form>
  <button onclick='addEvent()'> Another event </button>
  <div class="spacious">
    <label>DATE RANGE:</label>
    <select class="select-style" id="date-range">
      <option>Last 7 Days</option>
      <option>Last 30 Days</option>
      <option>Last 3 Months</option>
      <option>Last 12 Months</option>
      <option>Last 24 Months</option>
    </select>
  </div>
  <div class='spacious'>
    <button class="avant-garde-button-black" onclick="go()"> Submit </button>
  </div>
  <div class='loader hidden'></div>
</div>
<div id='canvasContainer'></div>

<%= erb :footer %>

<script type="text/javascript">
  function go(){
    var project = $('#projects-input').val()
    var events = _.map($('.events-input'), (i) => i.value).join(',')
    var date_range = $("#date-range").val()
    sd.chartSegment(project, events, date_range)
  }

  function addEvent(){
    var ix = $('.events-input').length;
    el = $(`<div class="container"></div>`)
    $(`<input type='text' value='' />`)
     .attr("id", `events-input-${ix}`)
     .attr("name", `events-input-${ix}`)
     .attr("list", "events")
     .attr("class", "events-input")
     .attr("placeholder", "Add an event")
     .attr("autocomplete", "off")
     .appendTo(el);

    el.appendTo("#new-funnel");

    autosuggest.setKeyUpUpdating(`#events-input-${ix}`)
  }

  // autosuggest for #events-input
  autosuggest = new sd.Autosuggest({
    selector: 'datalist#events',
    source: (p) => `/events/${p}`,
    data: ['apple', 'banana']
  })

  autosuggest.updateDataOnChange('input#projects-input')
  autosuggest.setKeyUpUpdating(`#events-input-0`)

  // minor autosuggest for #projects-input
  new sd.Autosuggest({
    selector: 'datalist#projects',
    data: ['force', 'eigen', 'microgravity']
  }).updateSuggestion()
  
</script>