<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <script src="/js/index.js"></script>
    <title></title>
  </head>
  <body>
    <div class='top-menu'>
      <ul>
        <li><a href="/funnel/index">FUNNEL</a></li>
        <li><a href="/segment/new">SEGMENT</a></li>
        <!-- <li style="float: right;"><a href="/settings">SETTINGS</a></li> -->
      </ul>
    </div>
    <div class='main'>
