<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<title></title>
	</head>
	<body>
		<div class='top-menu'>
			<ul>
				<li><a href="/funnel/index">Funnel</a></li>
				<li><a href="/funnel/index">Segment</a></li>
			</ul>
		</div>
		<div class='main'>
			<div class='controlsContainer'>
				<div class='controls'>
					<input id="projects-input" list="projects" placeholder="Choose a project">	
					<datalist id='projects'></datalist>
					<input id="events-input" list="events" placeholder="Choose an event">
					<datalist id='events'></datalist>
				</div>
			</div>
			<div class='canvasContainer'>
				<canvas id="chartCanvas"></canvas>
			</div>
		</div>
	</div>
	</body>
</html>
