.top-menu {
  ul {
      list-style-type: none;
      margin: 0;
      padding: 5px;
      padding-left: 10px;
      overflow: hidden;
      background-color: #000;
  }

  li {
      float: left;

    a {
        font-family: "ITC Avant Garde Gothic W04", "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 11px;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    a:hover:not(.active) {
      text-decoration: underline;
    }
  }
}

.top-menu-right {
  right: 0;
  position: absolute;
}