#input-container {
  margin-bottom: 12px;
}

.secondary-btn-container {
  float: right;
  width: 70%;
  margin-bottom: 5px;
}

.avant-garde-button-black {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    font-family: 'ITC Avant Garde Gothic W04', 'AvantGardeGothicITCW01D 731075', 'AvantGardeGothicITCW01Dm', 'Helvetica', 'sans-serif';
    font-size: 11px;
    outline: none;
    text-transform: uppercase;
}

.spacious + .spacious {
  padding-top: 12px;
}

.link-container {
  margin-top: 10px;
}

#canvasContainer {
  float: left;
  width: 53%;
  margin-top: 20px;
  margin-left: 60px;
  padding: 5px;
}

.form-group {
  margin-top: 15px;
}

.form-control {
  display: block;
  width: 100%;
  // padding: 0px 12px;
  padding-left: 6px;
  height: 35px;
  font-size: 16px;
  line-height: 1.428571429;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #E5E5E5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  box-sizing: border-box;
}

.controlsContainer {
  float: left;
  width: 200px;
  margin-top: 6px;
  padding: 20px;

// Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

  label {
    display: block;
    background-color: #fff;
    border: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  select {
    // height: 36px;
    font-family: serif;
  }

  input {
    font-family: serif;
  }

  a {
    color: black;
  }
  a:visited { text-decoration: none; }
  // input {
  //   padding: none;
  //   padding-left: 6px;
  //   padding-right: 6px;
  // }
}

