@import 'colors';

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .5s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.loader {
    margin-top: 12px;
    height: 6px;
    background: repeating-linear-gradient(-45deg, #333, #333 20px,#aaa 20px,#aaa 40px);
    background-size: 56px 56px; /* This is unique for this background, need to find a pattern and develop a formula */
    -webkit-animation: slide 20s infinite linear forwards;
    -moz-animation: slide 20s infinite linear forwards;
    animation: slide 20s infinite linear forwards;
}
@-webkit-keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@-moz-keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}
@keyframes slide {
    0% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loader2 {
    height: 24px;
    width: 8px;
    margin: auto;
    margin-top: 100px;
    background-color: $purple;
    -webkit-animation:spin 1.5s linear infinite;
    -moz-animation:spin 1.5s linear infinite;
    animation:spin 1.5s linear infinite;
}