@import 'grid';
@import 'colors';
@import 'buttons';
@import 'header';
@import 'index';
@import 'loader';
@import 'modal';

div.flash-green {
  height: 20px;
  padding-top: 15px;
  background-color: #A6D785;
  color: white;
}

div.flash-purple {
  background-color: rgba($purple, .6);
  color: white;
}

input:focus {
    outline:none;
}

body {
  margin: 0px;
}