@import 'grid';
@import 'colors';
@import 'buttons';
@import 'header';
@import 'index';
@import 'loader';
@import 'modal';


.flash {
  position: relative;
  vertical-align: middle;
  top: 50%;
  height: 40px;
  line-height: 40px;
  color: white;
}

.flash.purple {
    background-color: rgba($purple, 1);
  }

input:focus {
    outline:none;
}

body {
  margin: 0px;
}