@import 'grid';
@import 'base';
@import 'header';
@import 'index';
@import 'loader';

div.flash-green {
  height: 20px;
  padding-top: 15px;
  background-color: #A6D785;
  color: white;
}

div.flash-red {
  background-color: #D78585;
  color: white;
}

input:focus {
    outline:none;
}


form {
  .container {
    margin: 10px;
    padding: 5px;
  }
}
